body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

h1 {
    margin: 10px;
}

#firstDiv {
    text-align: center;
}

#secondDiv {
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;

    color: red;
    font-size: 16px;
}

#sizeText {
    font-size: 18px;
}